@page "/mapa"
@attribute [Authorize]

@using Microsoft.AspNetCore.Authorization
@using IgrejaSocial.Domain.Entities
@inject IJSRuntime JsRuntime
@inject FamiliaService FamiliaService

<MudStack Spacing="2">
    <MudText Typo="Typo.h5">Mapa das Famílias</MudText>
    <MudText Typo="Typo.body2" Color="Color.Secondary">
        Pins baseados em latitude e longitude cadastradas.
    </MudText>

    <MudPaper Class="pa-0" Style="position: relative;">
        @if (_carregando)
        {
            <MudStack AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center" Style="height: 500px;">
                <MudProgressCircular Indeterminate="true" Size="Size.Large" Color="Color.Primary" />
                <MudText Typo="Typo.body2" Class="mt-2">Carregando mapa...</MudText>
            </MudStack>
        }
        <div id="mapa-familias" style="height: 500px; border-radius: 8px;"></div>
    </MudPaper>
</MudStack>

@code {
    private List<Familia> _familias = new();
    private bool _carregando = true;

    protected override async Task OnInitializedAsync()
    {
        _familias = await FamiliaService.GetFamiliasAsync();
        _carregando = false;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("mapaFamilias.iniciar", "mapa-familias", _familias);
        }
    }
}
